@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conheader {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 4rem;
  font-family: "Bowlby One SC", cursive;
}
.conheader span {
  color: red;
}
.condes {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 2rem;
}

body {
  background-image: url("background.jpg");
  color: white;
  background-size: cover;
  height: max-content;
  border: 100px;
  background-color: black;
}
.container {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 15%;
}
form {
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  margin: 10px auto;
  padding: 50px;
  border: 10px;
  display: block;
  font-weight: bold;
}
form:hover {
  box-shadow: 100px;
  background-color: black;
}
.conform {
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.button {
  /* display: block; */
  width: 150px;
  height: 50px;
  margin: 0 80px;
  padding: 0 20px;
  background-color: red;
  border: 1px;
  border-radius: 10px;
}
